.shadow-box
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .2);
.neg-margin-x
  margin-left: -3rem
  margin-right: -3rem
.r-0
  border-radius: 0px !important
figcaption
  font-weight: 400
.customCaption
  background-color: transparent
  border-left: 4px solid #FFA726
  font-size: 13px
.customCaption-bold
  background-color: transparent
  border-left: 4px solid #FFA726
  font-weight: 700
  font-size: 18px
.nW
  width: auto
.color-light-blue
  background-color: #E3F7FA
.cajon.color-acento-contenido
  background-color: #FFE9C8
.tabs-a__tab
  background-color: #E8E8E8
.img-infografica.color-secundario .img-infografica__item__dot:before, .img-infografica.color-secundario .img-infografica__item__dot:after
  background-color: #FFCA28